*.pth filter=lfs diff=lfs merge=lfs -text
PatientRetrieval/models/retrieval_approach_final_model.pth filter=lfs diff=lfs merge=lfs -text
PatientVerification/trained_models/verification_approach_final_model.pth filter=lfs diff=lfs merge=lfs -text
